.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
}

.board__item {
    flex: 0 0 calc(33.333% - 10px);
    margin-right: 10px;
    margin-bottom: 16px;
}
