body {
    font-family: 'Courier New', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .85);
    width: 100vw;
    overflow-x: scroll;
}

.navigation ul {
    padding: 0 20px;
    margin: 0;
    display: flex;
}

.navigation a {
    display: block;
    color: #9a3afd;
    padding: 16px 12px;
    font-weight: bold;
    line-height: 1.5;
    white-space: nowrap;
    text-decoration: none;
}

.navigation a:hover {
    color: #c893ff;
    background: rgba(0, 0, 0, .25);
}
